:root {
  --background-900: #232c3a;
  --background-700: #394860;
  --background-500: #4d6080;
  --accent-1: #009c6b;
  --accent-2: #fb5b53;
  --white-1: #eef5fb;
  --ghost: #eef5fb25;

  /* extras */
  --black-0: #161616;
  --black-alpha: #272a3588;
  --black-1: #272a35;
  --blue-1: #04e9e9;
  --coral-1: #ff8484;
  --blue: #1162fe;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Override Carbon Background */
  background-color: var(--white-1) !important;
}
.flex-spacer {
  flex-grow: 1;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--black-1);
}

::-webkit-scrollbar-thumb {
  background: #353948;
  opacity: 0.5;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

a {
  display: inline-flex;
  align-items: center;
}

/* CARBON THEME OVERRIDES */

.bx--header {
  background-color: var(--background-900) !important;
  border-bottom: none !important;
}

/* PRIMARY BUTTONS */
.bx--btn--primary {
  /* background-color: var(--accent-1) !important; */
  background-color: var(--background-700) !important;
  font-weight: 600 !important;
  box-shadow: 2px 2px 8px #00000018 !important;
  border: 2px solid transparent !important;
  transition: all 0.2s ease;
}

.bx--btn--primary:hover {
  background-color: var(--background-900) !important;
  font-weight: 600 !important;
  border: 2px solid var(--accent-1) !important;
}

.bx--btn--primary svg {
  transform: scale(1.25);
}
/* .bx--btn--primary svg,
.bx--btn--primary path {
  transition: all 0.2s ease-in-out;
} */

/* .bx--btn--primary:hover path {
  fill: var(--accent-2) !important;
} */

/* TERTIARY BUTTONS */
.bx--btn--tertiary {
  border-color: var(--background-900) !important;
  color: var(--background-900) !important;
}
.bx--btn--tertiary:hover {
  border-color: var(--accent-2) !important;
  color: var(--white-1) !important;
  background-color: var(--background-900) !important;
}

@keyframes float {
  0% {
    transform: translateY(0);
    box-shadow: 0 45px 25px -15px #00000050;
  }

  50% {
    box-shadow: 0 50px 40px -15px #00000050;
    transform: translateY(-5px);
  }

  100% {
    box-shadow: 0 45px 25px -15px #00000050;
    transform: translateY(0);
  }
}
